<div class="bottommenu">
	<div class="bottomlogo">
	<%= image_tag "collectionlogo1.png", html: { alt: "rest_slider1" } %>
	</div>
	<ul class="nav nav-tabs bottomlinks">
		<li role="presentation" ><a href="#/" role="button">ABOUT US</a></li>
		<li role="presentation"><a href="#/">CATEGORIES</a></li>
		<li role="presentation"><a href="#/">PREORDERS</a></li>
		<li role="presentation"><a href="#/">CONTACT US</a></li>
		<li role="presentation"><a href="#/">RECEIVE OUR NEWSLETTER</a></li>
	</ul>
	<p>"Lorem ipsum dolor sit amet, consectetur,  sed do eiusmod tempor incididunt <br>
		eiusmod tempor incididunt"</p>
	 <%= image_tag "line.png", html: { alt: "rest_slider1" } %>
	 <br>
	 <div class="bottomsocial">
		<a href="#"><i class="fa fa-facebook"></i></a>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-linkedin"></i></a>
		<a href="#"><i class="fa fa-github"></i></a>
	</div>
		<div class="footer">
			<div class="copyright">
			  &copy; Copy right 2018 | <a href="#">Privacy </a>| <a href="#">Policy</a>
			</div>
			<div class="atisda">
				 Designed by <a href="https://github.com/4D1C70/parqueate/tree/master">Grupo 3 EPE-UPC </a>
			</div>
		</div>
</div>